<%- include('./partials/head.ejs', {tabTitle: 'Home'}) %>

<header>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</header>
<div class="home-body">
    <div id="homecarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homecarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homecarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homecarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
                <img src="/images/home1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h4>Track all your projects in one place.</h4>
                    <p>Stay on top of all your team's projects, as well as your own work.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="6000">
                <img src="/images/home2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h4>Collaborate.</h4>
                    <p>Use notes and files to contribute to your team's work.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="6000">
                <img src="/images/home3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h4>Deadlines and To-dos.</h4>
                    <p>Organise the completion of time sensitive tasks efficiently.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homecarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homecarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<%- include('./partials/foot.ejs', {}) %>