<%- include('./partials/head.ejs', {tabTitle: 'Login'}) %>

<%- include('./partials/flash.ejs', {}) %>

<div class="card login-card">
    <div class="card-body">
        <h1>Login</h1>

        <form method="post" action="/login">

            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" value="DemoUser1" required />

            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" value="DemoUser1" required />

            <input class="btn btn-dark" type="submit" value="Login" />
            <p style="float:right; font-size: 0.8em;">Don't have an account? <a href="/register">Register</a></p>

        </form>
    </div>
</div>
<%- include('./partials/foot.ejs') %>