<%- include('./partials/head.ejs', { tabTitle: 'Register' }) %>

<div class="register-container">
    <div class="card register-card">
        <div class="card-body">
            <h1 class="register">Register</h1>


            <form method="post" action="/register">

                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" required />

                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" required />

                <label class="form-label" for="team">Team (optional, try DemoTeam1) </label>
                <input class="form-control" type="text" name="team" id="team" />

                <input class="btn btn-dark" type="submit" value="Register" />
                <p style="float:right; font-size: 0.8em;">Already have an account? <a href="/login">Login</a></p>

            </form>
        </div>
    </div>
</div>

<%- include('./partials/flash.ejs', {}) %>

<%- include('./partials/foot.ejs') %>