:root {
	--bs-body-bg: #0496ff !important;
	--bs-body-color: #232528 !important;
}

html {
	min-height: 100%;
	width: 100%;
}

body {
	font-family: "Inter", sans-serif;
	width: 100%;
	margin: 0 auto;
	color: #232528;
	min-height: 100%;
}

header {
	background-color: #232528;
	height: 40px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

header > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 0 15px;
}

header a:hover {
	color: rgba(255, 255, 255, 0.639);
}

.hr {
	margin: 0 auto !important;
	background-color: #eaf6ff !important;
	width: 95%;
}

hr {
	color: #232528 !important;
	background-color: #eaf6ff !important;
	padding: 0;
	margin: 0 auto !important;
	width: 80%;
}

.home-body {
	width: 100%;
	background-color: #eaf6ff;
	box-sizing: border-box;
	padding: 50px;
}

#homecarousel {
	background-color: rgb(177, 177, 177);
	width: 65%;
	margin: 0 auto;
}

#homecarousel > button {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.blur {
	filter: blur(3px);
}

.carousel-item img {
	max-height: 700px;
	/* object-fit: cover; */
	opacity: 0.5;
	filter: blur(4px);
}

.carousel-item {
	height: 100%;
}

.carousel-caption {
	background-color: rgba(177, 177, 177, 0.438);
	border-radius: 10px;
	margin-bottom: 250px;
	box-sizing: border-box;
	padding: 10px !important;
}

.carousel-caption > p {
	color: #2a2a72;
	font-weight: bolder;
}

.carousel-caption > h4 {
	color: #232528;
	font-weight: bolder;
}

.carousel-indicators {
	border-radius: 10px;
	background-color: rgba(177, 177, 177, 0.438);
}

.carousel-indicators button {
	background-color: black !important;
}

.carousel-indicators button .active {
	opacity: 1 !important;
}

.carousel-indicators button:not(.active) {
	opacity: 0.2 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	filter: brightness(0) saturate(100%);
}

.index-container {
	box-sizing: border-box;
	background-color: #eaf6ff;
	padding: 30px 0 50px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 95%;
	margin: 0 auto;
}

.index-team-project img,
.index-user-project img {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	filter: blur(1px) brightness(50%) saturate(50%);
}

.index-team-projects,
.index-user-projects {
	display: flex;
	flex-flow: column nowrap;
	overflow: scroll;
	justify-content: flex-start;
	align-items: flex-start;
	width: 46%;
	max-width: 800px;
	height: 600px;
}

.index-team-projects a,
.index-user-projects a {
	width: 90%;
	height: 200px;
	border-radius: 15px;
	margin: 0 auto 15px auto;
	color: #232528;
}

.index-team-projects a:hover,
.index-user-projects a:hover {
	color: #2a2a72;
}

.index-team-project,
.index-user-project {
	height: 100%;
	width: 100%;
}

.index-team-projects h2,
.index-user-projects h2 {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #eaf6ff;
	padding-bottom: 10px;
}

div.project-name {
	background-color: rgb(202, 202, 202);
	max-width: 90%;
	border-radius: 10px;
	width: fit-content;
	box-sizing: border-box;
	top: -85px;
	position: relative;
	left: 20px;
	padding: 5px 10px;
	height: 70px;
}

.index-team-project h4,
.index-user-project h4 {
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	width: 100%;
	color: black;
	font-weight: 700;
	overflow: hidden;
	background: linear-gradient(to right, rgb(0, 0, 0) 400px, rgba(223, 223, 223, 0.438) 101%);
	/* background: -webkit-linear-gradient(#eee, #333); */
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.index-team-project p,
.index-user-project p {
	color: #2a2a72;
	font-weight: 500;
	margin: 0;
}

.index-team-projects a,
.index-user-projects a {
	text-decoration: none;
}

.todos-upcoming {
	background: #eaf6ff;
	height: fit-content;
	min-height: 300px;
	width: 95%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	box-sizing: border-box;
	padding: 50px 0;
	margin: 0 auto;
}

.todo-container,
.upcoming-container {
	width: 46%;
	max-width: 800px;
	height: fit-content;
}

.show-container {
	box-sizing: border-box;
	background-color: #eaf6ff;
	width: 100%;
	padding: 40px 40px 40px 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 40px;
	margin: 0 auto;
}

.show-container > * {
	box-sizing: border-box;
	padding: 30px;
}

.show-files {
	min-height: 100px;
	height: fit-content;
	width: 100%;
	padding-top: 0;
}

.show-notes {
	height: fit-content;
	min-height: 380px;
	max-height: 590px;
	width: 50%;
	overflow: scroll;
	padding-top: 0;
}

.show-file-container {
	display: flex;
	flex-flow: row nowrap;
	gap: 20px;
	width: fit-content;
	max-width: 100%;
	overflow: scroll;
	border-radius: 10px;
}

.show-note-container {
	display: flex;
	flex-flow: column nowrap;
	overflow: scroll;
	align-items: center;
}

.show-note-container > * {
	width: 95%;
	z-index: 0;
}

.show-notes h2 {
	position: sticky;
	top: 0;
	background-color: #eaf6ff;
	z-index: 2;
}

.show-description {
	width: 44%;
	height: fit-content;
	padding-top: 0;
}

.show-description p {
	margin-top: 0;
}

.show-file {
	background-color: white;
	color: #232528;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	padding: 20px 20px 10px 20px;
	border-radius: 10px;
	border: 2px solid #232528;
	margin-bottom: 20px;
}

.show-img {
	height: 330px;
	border-radius: 10px;
	border: 1px solid #232528;
}

.show-img-a {
	align-self: center;
}

.show-file h6 {
	margin: 15px 0 0 0;
}

.show-file h5 {
	margin-bottom: 24px;
	width: fit-content;
}

.show-file p {
	font-size: 0.9em;
}

.show-main-info {
	width: 100%;
	padding-bottom: 45px;
}

.show-date {
	color: #2a2a72;
	margin-bottom: 0;
}

.show-todos {
	width: 100%;
}

.collaborators {
	position: absolute;
	height: fit-content;
	top: 95px;
	padding: 0;
	right: 0;
	z-index: 999;
}

.collaborators > div,
.collaborators > div > div {
	border-radius: 0;
}

.collaborators-button {
	position: absolute;
	top: 50px;
	padding: 0;
	right: 15px;
	height: 35px;
}

.collaborators-button button {
	font-size: 0.8em;
}

.login-card,
.register-card {
	margin: 200px auto;
	width: 500px;
	max-width: 95%;
}

.login-card input,
.register-card input {
	margin-bottom: 15px;
}

.add-files {
	display: flex;
	flex-flow: column nowrap;
}

.show-note-container form > input,
.show-note-container form > textarea {
	margin-bottom: 8px;
}

.accordion {
	margin-top: 8px;
}

.accordion-button > * {
	margin: 0;
	line-height: 20px;
}

.accordion-button p {
	align-self: flex-end;
}

button.accordion-button {
	flex-flow: row nowrap;
	justify-content: space-between;
}

.new-container {
	width: 90%;
	margin: 30px auto;
	background-color: #eaf6ff;
	box-sizing: border-box;
	padding: 30px;
}

.new-container h1 {
	margin-bottom: 18px;
}

.new-container form > input,
.new-container form > textarea {
	margin: 0px 0 20px 0;
}

.team-project-selector {
	margin-bottom: 20px;
}

.team-project-selector > * {
	margin-right: 10px;
}

.add-files > * {
	margin-bottom: 8px;
}

.add-files p {
	width: fit-content;
	font-size: 1.8em;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 8px auto;
}

.add-files p:hover {
	cursor: pointer;
}

.add-files input {
	transition: 0.4s;
}

.projects-container {
	box-sizing: border-box;
	background-color: #eaf6ff;
	padding: 30px 0 50px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 90%;
	margin: 0 auto;
}

.projects-team-project img,
.projects-user-project img {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	filter: blur(1px) brightness(60%) saturate(90%);
}

.projects-team-projects,
.projects-user-projects {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80%;
	height: fit-content;
}

.projects-team-projects a,
.projects-user-projects a {
	width: 90%;
	height: 300px;
	border-radius: 15px;
	margin: 0 auto 15px auto;
}

.projects-team-project,
.projects-user-project {
	height: 100%;
	width: 100%;
}

.projects-team-projects h2,
.projects-user-projects h2 {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #eaf6ff;
	padding-bottom: 10px;
}

.projects-team-project h4,
.projects-user-project h4 {
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	width: 100%;
	color: black;
	font-weight: 700;
	overflow: hidden;
	background: linear-gradient(to right, rgb(0, 0, 0) 400px, rgba(223, 223, 223, 0.438) 100%);
	/* background: -webkit-linear-gradient(#eee, #333); */
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.projects-team-project p,
.projects-user-project p {
	color: #2a2a72;
	font-weight: 500;
	margin: 0;
}

.projects-team-projects a,
.projects-user-projects a {
	text-decoration: none;
}

.edit-project-btn {
	font-size: 0.8em !important;
	border: 1px solid #0496ff;
	position: absolute;
	top: 95px;
	padding: 0;
	right: 15px;
	height: 35px;
}

@media (max-width: 1100px) {
	body {
		width: 100%;
	}

	.hr {
		width: 100%;
	}

	.edit-project-btn {
		top: 190px;
	}

	.collaborators-button {
		top: 145px;
	}

	.home-body {
		padding: 130px 0;
		min-height: 90vh;
	}

	#homecarousel {
		margin: auto auto;
		width: 100%;
		height: 270px;
	}

	.index-container {
		flex-flow: column nowrap;
		gap: 30px;
		width: 100%;
	}

	.index-team-projects,
	.index-user-projects,
	.todo-container,
	.upcoming-container {
		margin: 0 auto;
	}

	.show-notes,
	.show-files {
		width: 90%;
	}

	.show-img {
		max-width: 100%;
		height: unset;
	}

	.show-file {
		padding: 10px 10px 5px 10px;
		margin-bottom: 10px;
		min-width: 450px;
	}

	.carousel-caption {
		margin-bottom: 30px;
	}

	.index-team-projects,
	.index-user-projects {
		width: 90%;
		height: 465px;
		overflow: hidden;
	}

	.index-team-projects a,
	.index-user-projects a {
		width: 95%;
		height: 200px;
		border-radius: 15px;
		margin: 0 auto 15px auto;
	}

	.projects-team-project h4,
	.projects-user-project h4 {
		background: linear-gradient(to right, rgb(0, 0, 0) 200px, rgba(223, 223, 223, 0.438) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	.todo-container,
	.upcoming-container {
		width: 90%;
	}

	.todos-upcoming {
		flex-flow: column nowrap;
		justify-content: flex-start;
		width: 100%;
	}

	.show-container {
		padding: 0;
	}

	.show-files,
	.show-notes {
		height: fit-content;
		width: 100%;
	}

	.show-file h6,
	.show-file p {
		font-size: 0.8em;
	}

	.show-description {
		width: 100%;
		font-size: 0.9em;
	}

	.show-description h2 {
		margin: 0;
	}

	.projects-team-projects,
	.projects-user-projects {
		width: 90%;
	}

	.projects-container {
		width: 100%;
	}

	div.project-name {
		max-width: 270px;
	}
}

@media (max-width: 600px) {
	.show-file {
		min-width: 300px;
	}
}
